@import url('https://fonts.googleapis.com/css?family=Lato');

.container {
    padding-bottom: 30px;
    color: #212121;
}

#logos {
    height: 20%;
    width: 30%;

}

/*active tabs*/
#nav-tab > li.active > a,
#nav-tab > li.active > a:focus,
#nav-tab > li.active > a:hover,
#nav-tab > li > a:hover {
    background-color: #424242 !important;
    color: #9E9E9E !important;
    /*order-color: #212121 !important;*/
    border-bottom-color: #212121;
    border: medium none;
    border-radius: 0;
}

/*inactive tabs*/
#nav-tab > li > a {
    background-color: #9E9E9E;
    color: #212121;
    border-bottom-color: #212121;
    margin: 0;
}
#nav-tab {
    padding: 0px;
    font-size: large;
    width: 80%;
    display: inline-block;
}

#products {
    padding-right: 0;
    padding-left: 0;

}
#orders {
    padding-right: 0;
    padding-left: 0;
}


